// colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;
$blue: #0076d3;
$green: #618c7b;
$yellow: #c28b00;
$green-dark: #407a57;

// timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;
